.wrapper-scrolled-down {
  position: absolute;
  width: 100%;
  height: 100%; }
  .wrapper-scrolled-down .scroll-down {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px; }
    .wrapper-scrolled-down .scroll-down span {
      display: block;
      transform-origin: center center; }
      .wrapper-scrolled-down .scroll-down span.arrow {
        transform: rotate(90deg); }
      .wrapper-scrolled-down .scroll-down span.text {
        margin-top: 40px;
        animation: scroll-down 1s ease-out infinite alternate; }

@media screen and (max-width: 919px) {
  .home .content {
    padding: 10vh 0; } }

.home .content .left, .home .content .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media screen and (min-width: 920px) {
    .home .content .left, .home .content .right {
      width: 50%;
      height: 200vh; } }
  @media screen and (max-width: 919px) {
    .home .content .left, .home .content .right {
      padding: 0 8vw; } }

@media screen and (min-width: 1400px) {
  .home .content .left {
    padding-left: 10vw !important; } }

@media screen and (min-width: 920px) {
  .home .content .left {
    position: absolute;
    left: 0;
    padding-left: 5vw; } }

@media screen and (min-width: 920px) {
  .home .content .left .pop-up {
    right: 0;
    transform: translateX(100%); } }

@media screen and (max-width: 919px) {
  .home .content .left .pop-up {
    left: 0; } }

@media screen and (min-width: 1400px) {
  .home .content .right {
    padding-right: 10vw !important; } }

@media screen and (min-width: 920px) {
  .home .content .right {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 5vw; } }

@media screen and (min-width: 920px) {
  .home .content .right .pop-up {
    transform: translateX(-100%); } }

.home .content .project {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: brightness(0);
  transition: -webkit-filter 0.6s;
  overflow: hidden; }
  @media screen and (max-width: 919px) {
    .home .content .project {
      margin-top: 10vh; } }
  .home .content .project img {
    max-width: 100%;
    height: auto; }
  .home .content .project .pop-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 50%;
    background: white;
    padding: 5vh 3vw !important;
    box-sizing: initial;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }
    @media screen and (max-width: 919px) {
      .home .content .project .pop-up {
        min-width: 250px;
        top: 50%;
        left: 50%;
        transform: translate(100%, -50%); } }
    @media screen and (max-width: 919px) {
      .home .content .project .pop-up.open {
        transform: translate(-50%, -50%); } }
    @media screen and (min-width: 920px) {
      .home .content .project .pop-up.open {
        transform: translate(0, 0); } }
    .home .content .project .pop-up .infos {
      opacity: 0;
      font-size: 1.2rem;
      line-height: 1.9rem; }
      .home .content .project .pop-up .infos:hover .title::after {
        width: 50px; }
      .home .content .project .pop-up .infos .title {
        position: relative;
        padding-bottom: 3vh; }
        .home .content .project .pop-up .infos .title::after {
          position: absolute;
          width: 20px;
          height: 2px;
          left: 0;
          bottom: 0;
          background: #000;
          content: '';
          transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }
      .home .content .project .pop-up .infos .categories {
        margin-top: 3vh; }

.button-next {
  opacity: 0;
  position: relative;
  height: 16px;
  margin-top: 5vh;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }
  .button-next:hover .icon-wrap {
    margin-left: 40px;
    width: 42px; }
  .button-next:hover a.next::after {
    width: 40px; }
  .button-next .icon-wrap {
    margin-left: 20px;
    width: 22px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }
  .button-next a.next::after {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0;
    bottom: 5px;
    background: #000;
    content: '';
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }

/*# sourceMappingURL=homepage.css.map */