.wrapper-scrolled-down {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wrapper-scrolled-down .scroll-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
.wrapper-scrolled-down .scroll-down span {
  display: block;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.wrapper-scrolled-down .scroll-down span.arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.wrapper-scrolled-down .scroll-down span.text {
  margin-top: 40px;
  -webkit-animation: scroll-down 1s ease-out infinite alternate;
          animation: scroll-down 1s ease-out infinite alternate;
}

@media screen and (max-width: 919px) {
  .content {
    padding: 10vh 0;
  }
}
.content .left, .content .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 920px) {
  .content .left, .content .right {
    width: 50%;
    height: 200vh;
  }
}
@media screen and (max-width: 919px) {
  .content .left, .content .right {
    padding: 0 8vw;
  }
}
@media screen and (min-width: 1400px) {
  .content .left {
    padding-left: 10vw !important;
  }
}
@media screen and (min-width: 920px) {
  .content .left {
    position: absolute;
    left: 0;
    padding-left: 5vw;
  }
}
@media screen and (min-width: 920px) {
  .content .left .pop-up {
    right: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@media screen and (max-width: 919px) {
  .content .left .pop-up {
    left: 0;
  }
}
@media screen and (min-width: 1400px) {
  .content .right {
    padding-right: 10vw !important;
  }
}
@media screen and (min-width: 920px) {
  .content .right {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 5vw;
  }
}
@media screen and (min-width: 920px) {
  .content .right .pop-up {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.content .project {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: -webkit-filter 0.6s;
          transition: -webkit-filter 0.6s;
  overflow: hidden;
}
@media screen and (max-width: 919px) {
  .content .project {
    margin-top: 10vh;
  }
}
.content .project img {
  max-width: 100%;
  height: auto;
}
.content .project .pop-up {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-width: 50%;
  background: white;
  padding: 5vh 3vw !important;
  box-sizing: initial;
  -webkit-transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
          transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
@media screen and (max-width: 919px) {
  .content .project .pop-up {
    min-width: 250px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(100%, -50%);
        -ms-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
}
@media screen and (max-width: 919px) {
  .content .project .pop-up.open {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 920px) {
  .content .project .pop-up.open {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.content .project .pop-up .infos {
  opacity: 0;
  font-size: 1.2rem;
  line-height: 1.9rem;
}
.content .project .pop-up .infos:hover .title::after {
  width: 50px;
}
.content .project .pop-up .infos .title {
  position: relative;
  padding-bottom: 3vh;
}
.content .project .pop-up .infos .title::after {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #000;
  content: '';
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
.content .project .pop-up .infos .categories {
  margin-top: 3vh;
}

.button-next {
  opacity: 0;
  position: relative;
  height: 16px;
  margin-top: 5vh;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
.button-next:hover .icon-wrap {
  margin-left: 40px;
  width: 42px;
}
.button-next:hover a.next::after {
  width: 40px;
}
.button-next .icon-wrap {
  margin-left: 20px;
  width: 22px;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
.button-next a.next::after {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 0;
  bottom: 5px;
  background: #000;
  content: '';
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
