header {

    transition: all 0.3s ease-out;

	@media screen and (max-width: 679px) {
		font-size: 1rem;
		line-height: 1.6rem;
	}

	@media screen and (min-width: 680px) {
		font-size: 1rem;
		line-height: 1.9rem;
	}
    
    &.nav-up {
        transform: translateY(-100%);
        opacity: 0;
    }

    &.nav-down {
        transform: translateY(0);
        opacity: 1;
    }

    &.dynamic {
    	height: 50px!important;
    	background: white!important;
    }

	&.header {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		height: 100px;
		background: transparent;
		z-index: 99;

		@media screen and (max-width: 679px) {
			padding: 0 8vw;
		}

		@media screen and (min-width: 680px) {
			padding: 0 4vw;
		}

		.project-menu-wrapper {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			width: 100%;

			.back {
				position: absolute;
				left: 0;

				.icon-wrap {
					margin-right: 25px;
				}

				.button-name {
					margin-left: 25px;
					transition: all cubic-bezier(.19, 1, .22, 1) 0.4s;
				}

				&:hover {
					.icon-back::before {
						transform:rotate(30deg);
					}
					.icon-back::after {
						transform:rotate(-30deg);
					}
				}

				.icon-back{
					position: absolute;
					display: inline-block;
					width: 50px;
					height: 50px;
					left: -1.5vw;
					top: -15px;
					overflow: hidden;

					&::before, &::after {
						content: '';
						position: absolute;
						height: 2px;
						width: 60%;
						top: 50%;
						left: 0;
						margin-top: -1px;
						background: black;
						transition: all 0.2s ease-out;
					}

					&::before {
						transform:rotate(45deg);
					}

					&::after {
						transform:rotate(-45deg);
						margin-top: -1px;
					}
				}
			}

			.project-menu-wrapper-nav {
				display: flex;

				.project-menu-wrapper-nav-sign {
					opacity: 0;
					transition: all 0.3s ease-out;

					&.left {
						margin-right: 60px;
					}

					&.right {
						margin-left: 60px;
					}
				}

				.project-menu-wrapper-nav-link {
					position: relative;
				}

				.project-menu-wrapper-infos {
					.title, .date {
						font-family: 'S', Georgia, serif;
						font-size: 1.25em;
						line-height: 1em;
						letter-spacing: 0.5px;
						text-transform: lowercase;
						font-weight: normal;
						margin: 0;
						display: inline-block;
					}
				}
			}
		}

		.nav {

			li.menu-item {
				display: inline;
				margin-left: 1vw;
				padding: 3px 7px;
				border: solid 3px transparent;

				transition: all 0.3s ease-out;

				&:hover, &.current-menu-item {
					border: solid 3px #000;
				}
			}

			.menu, .langs-wrapper {
				display: inline-block;
			}

			.langs-wrapper {
			    display: block;
                float: right;
				margin-left: 1.5vw;
                margin-right: -1vw;
				width: 55px;
				height: 20px;
				overflow: hidden;
				
				&:hover {
				    overflow: visible;
				}
				
				span {
				    margin-left: 0.25vw;
				    margin-top: 4px;
                    display: block;
                    transform-origin: center center;
                
                    &.arrow {
                        transform: rotate(90deg);
                    }
                }
                
                ul {
                    margin-top: -1.5vh;
                }
			}

			span.italic {
				font-style: italic;
			}

			span.mail {
			}
		}
	}
}

a.name, .nav, project-menu-wrapper-nav {
	height: 20px;
}

.icon-wrap {
	position: absolute;
	bottom: -4px;
	transition: all cubic-bezier(.19, 1, .22, 1) 0.4s;
}

.project-button-previous {
	position: absolute;
	right: 20px;
	width: 22px;
	display: inline-block;
	height: 16px;
	cursor: pointer;
	cursor: hand;
	transition: all cubic-bezier(.19, 1, .22, 1) 0.4s;

	&::after {
		position: absolute;
		width: 20px;
		height: 2px;
		top: 10px;
		right:0;
		background: #000;
		content: '';
		transition: all cubic-bezier(.19, 1, .22, 1) 0.4s;
	}

	&:hover {
		width: 42px;

		.project-menu-wrapper-nav-sign.left {
			opacity: 1!important;
			background: green;
		}

		&::after {
			width: 40px;
		}
	}

	.icon-wrap {
		left: 0;
	}
}

.project-button-next {
	position: absolute;
	left: 20px;
	width: 22px;
	display: inline-block;
	height: 16px;
	cursor: pointer;
	cursor: hand;
	transition: all cubic-bezier(.19, 1, .22, 1) 0.4s;

	&::after {
		position: absolute;
		width: 20px;
		height: 2px;
		top: 10px;
		left:0;
		background: #000;
		content: '';
		transition: all cubic-bezier(.19, 1, .22, 1) 0.4s;
	}

	&:hover {
		width: 42px;
		right: 20px;
		
		.project-menu-wrapper-nav-sign.right {
			opacity: 1!important;
		}

		&::after {
			width: 40px;
		}
	}

	.icon-wrap {
		right: 0;
	}
}