.project {

    width: 80%;
    display: block!important;

	.leila-item-wrapper-link {
		overflow: hidden;
		display: inline-block;

		& img {
			transition: transform 0.3s ease-out;
			display: inline-block;
		} 
	}

	&:hover {
		.leila-item-content {
			transform: translate3D(0,0,0);

			.leila-item-meta-wrapper {
				transform: translate3D(0,0,0);
			}
		} 
	}
}	

.leila-item-content {
	width: 100%;
	height: 80px;
	padding-left: 1em;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	overflow: hidden;
	transform: translate3D(0,100%,0);
	transition: transform 0.3s ease-out;

	.leila-item-meta-wrapper {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		overflow: hidden;
		height: 80px;
		transform: translate3D(0,-100%,0);
		transition: transform 0.3s ease-out;

		.leila-item-title {
			color: #323232;
            font-size: 1em;
            font-weight: normal;
            line-height: 1.5em;
			margin: 0;
		}
        
		.leila-item-meta {
		
		    .meta > * + *:before {   
		        content: "-";
                padding-right: .5em;
                padding-left: .2em;
		    }
		
		    li {
		        color: #646464;
			    font-size: 0.7em;
			    text-transform: uppercase;
			    display: inline-block;
	        }
		}
	}
}